/****************
General
***************/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color:#596a8a;
}


/* gets rid of underline under text*/
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;  
}

a {
  text-decoration: none
}

/****************
Heading
 ***************/
#logo {
  text-align: center;
  margin: 0;
}

#logo h1 {
  font-family: 'Raleway', serif;
  font-weight: 700;
  margin: 15px 0;
  font-size: 4.75em;
  
/* makes the header closer together*/
   word-spacing: -.10em;
}

/* this is a class that makes the effect wobble vertical*/
.wobblevertical{
  color: #19334c;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.wobblevertical:hover{
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
  
/****************
Body Intro
 ***************/



/****** Roles******/

.AllRoles{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  /*gap*/
  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */
  column-gap: 0px;
}


/***Generalist***/

#GeneralistHeader{
  font-size:2em;
  font-weight: 700;
  background:#19334c;
  color:white;
  display:inline-block;
  padding: 2px 10px;
  margin: -20px 0 0 0;
}

#Boxy{
  border: solid;
  display:inline-block;
  border-width: 1px;
  margin-top: 35px;
  max-width: 100%;
}
#General_List ul{
  list-style-type: none;
  /*number of columns*/
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  /*gap*/
  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */
  column-gap: 0px;
  margin: 10px 0 0 0;
  padding: 0;
  font-family: 'Raleway', serif;
  font-weight: 400;
  width: 500px;
  margin-left:auto;
  margin-right:auto;
}

/* makes list pretty*/
#General_List li.Big{
  font-size: 1.45em;
  font-weight: 700;
}

#General_List li.Medium{
  margin: 10px 0;
  font-size: 1.35em;
  font-weight: 400;
}

#General_List li.Small{
  margin: 10px 0;
  font-size: 1.25em;
  font-weight: 200;
}

h2 {
  font-family: 'Raleway', serif;
  font-size: 1.5em;
  margin: 1.75em 0 0 0;
  font-weight: 700;
}

/*make "Here are past projects closer*/

p {
  font-size: auto;
  margin: auto 0 0;
}

/* Generalist List*/

ul.columnA{
  float: right;
}
/****************
Portfolio 
 ***************/

#portfolio {
  text-align: center;
  margin top: -50px;
}

.PortfolioList{
  background: red;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
  -moz-column-gap: 0px; /* Firefox */
  column-gap: 0px;
  
  
}

/****************
FOOTER  
 ***************/

footer{
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
}




/****************
Color
 ***************/

body {
  background:#fff;
  color: #555 
}

header {
  background:#fff;
  border-color: #596a8a;   
}

h1, h2 {
  color: #000;
}

a {
  color:#19334c
}

/****************
Navigation
 ***************/

/*HINT:top, right, bottom, left*/

nav ul {
margin: .1em,0;
padding: 0;
list-style-type: none;
text-align: center;
font-weight: 400;
}

nav li {
  display: inline;
}

/*this thingy adds the | into the nav bar*/
nav li + li:before{
    content: " | ";
    padding: 0 10px;
}

nav {
  color: #369;
  background: #fff;
}

nav ul li a{
text-decoration: none;
padding:.2em 1em;
}

nav ul li a:hover{
color: #fff;
background-color: #369;
}



/****************
Navigation
 ***************/
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    color: #99b2cc
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    color: #369
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px)
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px)
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}


/*Testing Zone*/
























/*

.box {
width:relative;
height: auto;
min-height: 300px;
padding-bottom: 60px;
border: 1px solid white;
position: relative;
display:inline-block;
}

  .box-cnt {
  width: 100%;
  height: auto;
  }

    .box-cnt img {
    width: 100%;
    height: auto;
    }

  .box-share {
  position: relative;
  z-index:2;
  background: #99b2cc;
  width: 100%;
  height:50px;
  overflow: hidden;
  transition: height 450ms;
  -moz-transition: height 450ms;
  -webkit-transition: height 450ms;
  }

    .box-share:hover {
    height: 100px;
    }

    .title {
    width: 100%;
    text-align: center;
    line-height: 3.2;
    color: white;
    font: 700;
    }

    .description {
    width: 100%;
    height: 50px;
    padding: 0 5px;
    background: white;
    }

      .item {
      display: inline-block;height: 100%;width:33%;float:left;text-align: center;line-height:2.2;
      }
*/
